<div>
	<header class="header">协同</header>
	<div class="group-content">
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<table class="table">
					<tbody>
						<tr ng-repeat="group in groupList">
							<td class="grout-label">
								{{group.label}}
							</td>
							<td class="group-desc">
								{{group.desc}}
							</td>
							<td class="group-action">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row button-container">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary role-button">创建协同组</button>
			</div>
		</div>
		<div class="row button-container">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary role-button">加入一个协同组</button>
			</div>
		</div>
	</div>
	<footer class="footer"></footer>
</div>
