<div>
	<header class="header">协同</header>
	<div class="group-content">
		<div class="row">
			<div class="col-xs-12">
				<table>
					<tbody>
						<tr>
							<td class="grout-label">

							</td>
							<td class="group-desc">
								
							</td>
							<td class="group-action">
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary role-button">创建协同组</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary role-button">加入一个协同组</button>
			</div>
		</div>
	</div>
	<footer class="footer"></footer>
</div>
