<div>
	<header class="header">你是</header>
	<div class="role-content">
		<div class="row">
			<div class="col-xs-4">
				<button type="button" class="btn btn-primary role-button" ng-click="selectRole()">发货方</button>
			</div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-success role-button" ng-click="selectRole()">承运方</button>
			</div>
			<div class="col-xs-4 ">
				<button type="button" class="btn btn-info role-button" ng-click="selectRole()">收货方</button>
			</div>
		</div>
	</div>
	<footer class="footer"></footer>
</div>
